button {
    padding: 0.25rem 0.5rem;
    background-color: #f8fafc;
    border: 1px solid #94a3b8;
    border-radius: 0.125rem;
    &:hover {
        background-color: #e2e8f0;
        cursor: pointer;
    }
}