.card {
    margin-bottom: 1rem;
    img {
        border-radius: 0.25rem 0.2rem 0 0;
    }
    .card-content {
        border-radius: 0 0 0.25rem 0.25rem;
        background-color: #f8fafc;
        padding: 1rem;
        .date {
            margin-bottom: 2rem;
        }
        .flex {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            .copied-url {
                color: #0284c7;
            }
        } 
    }
}